<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mycommonlibrary">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true">
        <activity
            android:name=".activity.CameraGalleyActivity"
            android:theme="@style/CameraGalleryTheme"
            tools:ignore="ExportedActivity"> <!-- 此界面设为背景透明 -->
            <intent-filter>
                <action android:name="${applicationId}.CameraGalleyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.calendar.CalendarActivity"
            android:label="选择日期"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="${applicationId}.CalendarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
